{
  "semi": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "avoid",
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^@routes/(.*)$",
    "^@stores/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ]
}
