@import "tailwindcss";
@import "lib/utils/custom-variants.css";

@theme {
  /* Color */

  --color-accent: #098be7;
  --color-muted-accent: #ebf7ff;
  --color-muted-background: #f8f8f8;
  --color-muted: #636669;

  /* Spacing */

  --spacing-sidebar: 24px;
  --spacing-header-height: calc(var(--spacing) * 9);

  /* Font */
  --font-body: "Inter Variable", Helvetica, Arial, sans-serif;

  /* --text-*: initial; */

  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--font-weight: 400;

  --text-caption-bold: 12px;
  --text-caption-bold--line-height: 16px;
  --text-caption-bold--font-weight: 500;

  --text-paragraph: 13px;
  --text-paragraph--line-height: 1.5;
  --text-paragraph--font-weight: 420;

  --text-paragraph-bold: 13px;
  --text-paragraph-bold--line-height: 1.5;
  --text-paragraph-bold--font-weight: 500;

  --text-heading: 18px;
  --text-heading--line-height: 22px;
  --text-heading--font-weight: 550;
  --text-heading--letter-spacing: -0.38px;

  --text-heading-2: 15px;
  --text-heading-2--line-height: 1.5;
  --text-heading-2--font-weight: 500;

  --text-heading-3: 14px;
  --text-heading-3--line-height: 1.5;
  --text-heading-3--font-weight: 500;

  --text-heading-popover: 14px;
  --text-heading-popover--line-height: 20px;
  --text-heading-popover--font-weight: 500;
}

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-opsz-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    @apply outline-hidden;
  }

  body {
    font-family: var(--font-body);
    @apply text-paragraph opsz;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply no-opsz;
  }

  button:focus-visible {
    @apply outline-hidden;
  }
}

@utility no-opsz {
  font-variation-settings: initial;
}

@utility opsz {
  font-variation-settings: "opsz" 32;
}

@keyframes shineEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-title {
  background: linear-gradient(
    45deg,
    var(--color-accent) 0%,
    #19dafb 25%,
    #7e42f5 50%,
    #4776e6 75%,
    var(--color-accent) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shineEffect 8s ease-in-out infinite;
  letter-spacing: -0.01em;
}
